/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

*{
  margin: 0;
  padding: 0;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url(../images/bgtile.png);
  background-repeat: repeat-x;
}

.container{
  display: flex;
  flex-direction: row;
  padding: 100px 0 50px 0;
}
.left-half{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phones-img {
  width: 100%;
}

.right-half{
  width: 50%;
  margin: 0 15% 0 0;
}

.header{
  display: flex;
  justify-content: space-between;
}
.Log-in-button{
  border: 0px;
  background-color: #1c5380;
  text-indent: 15px;
  align-self: center;
  color: aliceblue;
  font-size: larger;
}

.button-box{
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #1c5380;
  border: 1px #06365f;
  padding: 2% 5% 2% 5%;
  height: fit-content;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;

}

.text-box {
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
  padding: 5% 5% 0 5%;
  background-size: 100%;
  text-align: justify;
}

h2{
  color: #06365f;
  padding: 0 0 3% 0 ;
}

h4 {
  padding: 0 0 3% 0 ;
  font-weight: 400;
}

.bolded {
  font-weight: bold;
}

h3{
  padding: 0 0 3% 0 ;
}

h3 p{
  padding: 3% 0 0 0 ;
}

.badges{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-around;
  width: 80%;
  height: 100px;
  padding: 0 10% 0 10%;
}

.apple-store{
  background-image: url("../images/badge-iphone.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: auto;
  
}

.play-strore{
  background-image: url("../images/badge-android.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: auto;
}

/*Quite frustrated with the fact that I can't get the image to show and
for not knowing why. inspected both items (apple-store and play-store). 
They are equal, still the play-strore image wont appear. 
Always preferred androids and windows, so I am feeling betrayed as well.*/


footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  padding: 0 25% 0 25%;
}

